<div class="download-cont">
    <div class="download-main row">
        <div class="col-md-2 left">
            <img src="assets/cash.png" alt="">
        </div>
        <div class="col-md-6 mid">
            <h3>Start using IPOS, Powered by smartware solutions</h3>

            <div class="demo-link d-flex align-items-baseline mt-4">
                <a href="/requestdemo.html" class="me-3">Request A Demo</a>
                <img src="assets/arrow2.png" alt="" >
            </div>

            <div class="download-img">
                <p class="app">Download our app</p>
                <div class="img d-flex align-items-center">
                    <img src="assets/googleplay.png" alt="">
                    <img src="assets/applestore.png" alt="" class="ms-3">
                </div>
            </div>
        </div>

        <div class="col-md-4 right">
            <img src="assets/world.png" alt="">
        </div>
       
    </div>
</div>

