<div class="footer-main">
    <div class="footer-top container">
        <div class="row">
            <div class="col-md-4 left">
                <div class="logo-img">
                    <img src="assets/nav-logo.png" alt="">
                </div>
              
                <div class="company-address">
                     <p class="footer-text address mt-2">2j Obasa close, Oba-Akran <br> ikeja, Lagos State.</p>
                    <p class="footer-text email">smartwareng@live.com</p>
                    <p class="footer-text num">07020000034</p>
                </div>
            </div>

            <div class="right col-md-8">
                <div class="row">
                    <div class="col-md-3 col-6">
                        <h3>legal</h3>
                        <ul>
                            <li>Terms of service</li>
                            <li>Privacy Policy</li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-6">
                        <h3>Company</h3>
                        <ul>
                            <li>Our staff</li>
                            <li>Our Product</li>
                            <li>Sales lead</li>
                            <li>HR</li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-6">
                        <h3>Services</h3>
                        <ul>
                            <li>Ipos Terminal</li>
                            <li>Ipos Admin</li>
                            <li>Ipos Cloud</li>
                            <li>Ipos Bi</li>
                            <li>Ipos Mobile</li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-6 mt-5 social">
                        <div class="d-flex justify-content-between">
                            <a href="https://www.linkedin.com/company/smartware-solutions-ltd/" target="_blank">
                                <img src="assets/linkedin.png" alt="">
                            </a>
                            <a href="https://www.instagram.com/smartwareng/" target="_blank">
                                <img src="assets/ig.png" alt="">
                            </a>
                            <a href="https://www.twitter.com/smartwareng/" target="_blank">
                                <img src="assets/twitter.png" alt="">
                            </a>
                            <a href="https://web.facebook.com/smartwareng" target="_blank">
                                <img src="assets/fb.png" alt="">
                            </a>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-bottom">
        <p>Copyright All rights reserved. Smartware Soltuions 2021 </p>
    </div>
</div>
