<div class="header header-fixed">
    <div class="nav-bar">
        <div class="logo">
            <a href="/"><img src="assets/smartware-Logo.png" alt="logo"></a>
        </div>
        <input type="checkbox" id="navbar-toggle" >
        <label for="navbar-toggle"><i></i></label>
        <nav class="menu">
            <ul>
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/product.html">Product</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/company.html">Company</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact.html">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/pricing.html">Pricing</a>
                  </li>
            </ul>
        </nav>        
    </div>
</div>