* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* footer */
.footer-main {
    background-color: #ECEFF4;
}

.footer-main .footer-top {

    padding-top: 5.125rem;
    padding-bottom: 6.75rem;
}

.footer-main .left {
   width: 30%;
   
}
.footer-main .right {
   width: 60%;
   float: right;
}

.footer-main .left .footer-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #65757E;
    font-family: 'Inter', sans-serif;
    
}

.footer-main .right .row .col ul {
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.footer-main .right h3 {
    color: #002134;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

.footer-main .right  ul li {
    font-size: 16px;
    color: #65757E;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    margin-bottom: 1rem;
}

.footer-main .footer-bottom p {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 16px;
    color: #65757E;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    margin-bottom: 1rem;
    line-height: 32px;
}