* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* navbar */
.navbar {
    background-color: #fff ;
    padding: 1rem 1.5rem !important;
}

.navbar .navbar-nav .nav-item {
    padding-left: 4rem !important;
    
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #000 ;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    line-height: 19.36px;
    text-transform: capitalize;
}   

.navbar .navbar-nav .nav-link .active a {
    color: #71CC16 !important;
    font-weight: 700;
    font-size: 18px;
    font-family: "Exo", sans-serif;
}

.navbar .navbar-nav .nav-item .a:hover {
    color: red !important;
}
  


/* home-banner */
.banner-cont {
    background-color: #F2F8ED;
    padding-top: 100px;

}
/* 
.banner-cont .left, .banner-cont .right {
    width: 10%;
}

.banner-cont .center-item {
    width: 80%;
    text-align: center;
} */

.banner-cont .right img {
    margin-top: 14rem;
}

.banner-cont .center-item {
    text-align: center;
}

.banner-cont .center-item img {
    left: 20;
}

.banner-cont .center-item h3 {
    font-size: 56px;
    line-height: 70px;
    font-weight: 700;
    letter-spacing: 5%;
    font-family: 'Exo', sans-serif;
    color: #002134;
}

.banner-cont .center-item h3 span {
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    color: #71CC16;
}

.banner-cont .center-item p {
    margin-top: 2rem;
    color: #65757E;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 32px;
    width: 63%;
    margin: 0 auto;
}

.banner-cont .center-item button {
    margin: 3rem auto;
    background-color: #71CC16;

    color: #fff;
    border: none;
    padding: 0.8rem 3rem;
    text-transform: capitalize;
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.banner-cont .bottom  {
   text-align: center;
}


/* why section */
.use-cont {
    padding: 72px 91px;
}

.use-cont h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    color: #002134;
}

.use-cont .items {
    margin-top: 90px;
    
}

.use-cont .items .icon {
    margin-bottom: 34px;
}

.use-cont .items .sub-title {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    color: #096601;
    line-height: 24px;
}

.use-cont .items .text-inner {
    margin-top: 14px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #65757E;
    line-height: 28px;
}

/* product details */
.product-det {
    background-color: #002704;
    padding: 98px 88px;
}

.product-det .left {
    margin-top: 4rem;
    margin-left: 7rem;
}
.product-det .left h5 {
    text-transform: uppercase;
    color: #71CC16;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    line-height: 19.36px;
}

.product-det .left h4 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    line-height: 47.84px;
}

.product-det .left .inner-text {
    width: 65%;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 32px;
    color: #f7f8fa;
}


.product-det .left img {
    display: flex;
    align-items: flex-end;
}

/* intereste-cont */
.interests-cont  {
    background-color: #F7F8FA;

}

.interests-cont .left {   
    padding-right: 171px;
}
.interests-cont .left img {
    width: 378px;
    margin-top: -4rem;
    margin-bottom: -4.6rem;
}

.interests-cont .right {
    padding-top: 4rem;
    width: 27%;
}

.interests-cont .right h3 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    line-height: 47.84px;
    color: #002134;
}

.interests-cont .right ul {
    list-style: none;
    
}

.interests-cont .right ul li {
    list-style-image: url(assets/list-icon.png);
    color: #71CC16;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    line-height: 31.9px;
    margin-top: 2rem;
}

.interests-cont .right ul p {
    color: #65757E;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 32px;
    margin-top: 12px;
}

/* testimonial */
.testimonial-cont {
    background-color: #fff;
    padding-top: 74px;

}

.testimonial-cont .top-heading {
    text-align: center;
}

.testimonial-cont .top-heading h4 {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    line-height: 21.78px;
    color: #096601;
    text-transform: uppercase;
}

.testimonial-cont .top-heading h3 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    line-height: 47.84px;
    color: #002134;
}

.testimonial-cont .top-heading h3 span {
    color: #71CC16;
}

.testimonial-cont .testimonials-section .testimonial {
    padding: 2.5rem 2rem;
}

.testimonial-cont .testimonials-section  .center {
    width: 414px;
}

.testimonial-cont .testimonials-section .testimonial .inner-text {
    margin-top: 19px;
    margin-bottom: 92px;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    font-family: 'Inter', sans-serif;
    color: #65757E;
}

.testimonial-cont .testimonials-section .testimonial .testimonial-name .name {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    line-height: 23.92px;
    color: #002134;
}

.testimonial-cont .testimonials-section .testimonial .testimonial-name .role {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 36px;
    color: #65757E;
    margin-top: -1rem;
}
.testimonial-cont .testimonials-section .testimonial .testimonial-name .role span {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    line-height: 36px;
    color: #002134;
}

/* clients */
.clients-cont {
    text-align: center;
    margin: 2rem auto;
}
.clients-cont h3 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    line-height: 47.84px;
    color: #002134;
    margin-bottom: 1rem;
}

.clients-cont .client-logo {
    margin-bottom: 106px;
}

/* download sextion */
.download-cont {
    background-color: #002704;
    /* padding: 3rem 2rem; */

}

.download-cont .download-main .left {
    margin-top: 15rem;
}

.download-cont .download-main .mid {
    margin-top: 3rem;
    padding: 2rem 5rem;
}

.download-cont .download-main .mid h3 {
   font-size: 40px;
   font-weight: 500;
   font-family: "Exo", sans-serif;
   line-height: 50px;
   color: #fff;
    
}

.download-cont .download-main .mid .demo-link p {
    font-size: 18px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    line-height: 21.78px;
    color: #71CC16;
}
.download-cont .download-main .mid .download-img .app {
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    line-height: 19.36px;
    color: #eceff4;
    margin-top: 18px;
}
.download-cont .download-main .mid .download-img img  {
      height: fit-content;
}



/* product page */
.product-banner-cont {
    background-color: #F2F8ED;
    padding: 3rem 4rem 0rem 3rem;
}

.product-banner-cont .product-cont {
    width: 85%;
}

.product-banner-cont .left {
    margin-top: 4rem;
    /* width: 50%; */
    padding-top: 3rem;
}

.product-banner-cont .left h3 {
    font-size: 36px;
    font-weight: 700;
    font-family: "Exo", sans-serif;
    color: #002134;
    line-height: 47.84px;
}

.product-banner-cont .left p {
    font-size: 18px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    color: #65757E;
    line-height: 32px;
    
}

.product-banner-cont .left .powered {
    color: #096601;
    font-size: 14px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    line-height: 16.94px;
    margin-top: 1.5rem;
}

.product-banner-cont .right {
    margin-top: -3rem;
}



/* how it works */
.works-cont {
    padding: 4rem 4rem;
}

.works-cont .main-cont {
    margin: 0 auto;
    width: 85%;
}
.works-cont .left img {
    box-shadow:   0px 0px 13px 0px rgba(68, 98, 172, 0.16), inset 2px 9px 10px 4px rgba(99, 147, 168, 0.1), inset 7px 8px 4px rgba(113, 152, 165, 0.2);
    background: #ededed;
    border-radius: 7px;
    margin-top: 4rem;
}

.works-cont  h4 {
    color: #096601;
    font-size: 18px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    line-height: 21.78px;
    text-transform: uppercase;
    margin-top: 1.5rem;
}

.works-cont  h2 {
    font-size: 38px;
    font-weight: 700;
    font-family: "Exo", sans-serif;
    line-height: 50.5px;
    color: #002134;
    text-transform: uppercase;
}

.works-cont  .inner-text {
    color: #65757E;
    font-weight: 400;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    line-height: 32px;
}

.works-cont  ul {
    list-style: none;
}

.works-cont  ul li {
    list-style-image: url(assets/listicon2.png);
    color: #002134;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    line-height: 19.36px;
    margin-bottom: 1rem;
}

.works-2 {
    background-color: #F7F8FA;
}

.works-3 .left img {
   
    margin-top: 0;
}

.features .left img{
    
    margin-top: 1rem;
    margin-bottom: -3rem;
}

.features .inner-text {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #65757E;
    line-height: 28px;
}


/* company */
.company-cont {
    background-color: #F2F8ED;
    padding-top: 100px;
    /* padding-left: 3rem; */
}

.company-cont .left {
    margin-left: 183px;
    margin-top: 8rem;
}

.company-cont h3, .about-cont h3 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    color: #002134;
    line-height: 47.84px;
}

.company-cont .outstand ul li {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #65757E;
    line-height: 28px;
}

.about-cont {
    background-color: #ffff;
    padding: 85px 100px;
    text-align: center;
}

.about-cont .inner-text {
    margin: 0 auto;
    width: 50%;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #65757E;
    line-height: 34px;
}

.mission-cont {
    background-color: #F2F8ED;
}

.mission-cont .left img {
    width: 100%;
}
.mission-cont .right {
    padding: 4rem 5rem;
}

.mission-cont .right h3 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    color: #002134;
    line-height: 47.84px;
}

.mission-cont .right .inner-text {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #65757E;
    line-height: 34px;
    width: 75%;
}

.benefits-cont .left {
    background-color: #F2F8ED;
    padding-top: 5rem ;
    padding-bottom: 5rem;
    padding-left: 183px;
    width: 60%;
}

.benefits-cont .left h4 {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    color: #096601;
    line-height: 42.53px;
    width: 60%;
}

.benefits-cont .left .benefits-list {
    margin-top: 2rem;
}
.benefits-cont .left .benefits-list .items {
    margin-bottom: 2rem;

}
.benefits-cont .left .benefits-list .items h4 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    color: #096601;
    line-height: 24px;
    margin-top: 1rem;
}

.benefits-cont .right {
    background-color: #fff;
    padding: 5rem 3rem;
}

.benefits-cont h4 {
    color: #096601;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    line-height: 21.78px;
    text-transform: uppercase;
}

.benefits-cont .right h3 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    color: #002134;
    line-height: 47.84px;
    width: 50%;
}

.benefits-cont .job-lists {
    width: 80%;
}

.benefits-cont .right ul {
    list-style: none;
}
.benefits-cont .right ul li {
    list-style-image: url(assets/listicon2.png);
    color: #002134;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 19.36px;
    margin-bottom: 1.2rem;
}

/* teams */
.team-cont {
    margin: 0 auto;
    width: 85%;
    padding: 4rem 6rem;
}

.team-cont .top {
    text-align: center;
    margin: 3rem auto;
    width:  55%;
    
}

.team-cont .top h3 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    color: #002134;
    line-height: 47.84px;
}

.team-cont .top .inner-text {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #65757E;
    line-height: 32px;
}

.team-cont .teams-bio .bio {
    margin-top: 2rem;
}

.team-cont .teams-bio .name {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Exo', sans-serif;
    color: #002134;
    line-height: 23.92px;
}

.team-cont .teams-bio .position {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #096601;
    line-height: 36px;
    margin-top: -1rem;
}



/* footer */
.footer-main {
    background-color: #ECEFF4;
}

.footer-main .footer-top {

    padding-top: 5.125rem;
    padding-bottom: 6.75rem;
}

.footer-main .left {
   width: 30%;
   
}
.footer-main .right {
   width: 60%;
   float: right;
}

.footer-main .left .footer-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #65757E;
    font-family: 'Inter', sans-serif;
    
}

.footer-main .right .row .col ul {
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.footer-main .right h3 {
    color: #002134;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

.footer-main .right  ul li {
    font-size: 16px;
    color: #65757E;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    margin-bottom: 1rem;
}

.footer-main .footer-bottom p {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 16px;
    color: #65757E;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    margin-bottom: 1rem;
    line-height: 32px;
}